<!-- views/partials/_header.ejs -->

<!DOCTYPE html>


<title> TinyApp - URL Shortner! </title>

<% if (user) { %>

  <p style="padding-left: 40px; display: inline-block;width: 70px">
    <%= user.id %>
    <form action="/logout" method="POST" style="display: inline-block;width: 10px">
      <input id="logout" type="submit" value="Logout">
    </form>
  </p>

<% } else { %>

  <a href="/login">Login</a> <a href="/register">Register</a>

<% } %>


