<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/_header %>
</head>

<body>
  <h3> Register </h3>
  <p>
    <form action="/register" method="POST">
      <label for="email">Email:</label>
      <input id="email" type="email" name="email" placeholder="Enter your email" style="width: 300px"> <br>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" placeholder="Enter a password" style="width: 300px"> <br>

      <input type="submit" value="Register now!" onSubmit="Thank you for registering!">
    </form>
  </p>


  <br><br><br>
  <a href="/urls/new"> Create a new shortened URL</a><br><br>
  <a href="/urls"> Go back to the url list! </a>
</body>

</html>
