<!-- views/views/u_error.ejs -->

<!DOCTYPE html>

<html lang="en">

<!-- Include the stylesheet -->
<head>
  <% include ../partials/styles %>
</head>

<body>
  <% include ../partials/_header %>

  <h3>
    <font color="red" size="10">URL NOT FOUND </font><br><br>
    <a href="/urls/new">Click here</a> to create a new short url.<br>
    <a href="/urls">Click here</a> to see your list of short urls.
  </h3>
  <h5>
    - Management
  <h5>

</body>

</html>
